.bp-friend-swiper-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: auto;
    height: 100%;
}

.bp-friend-swiper-slider ul {
    margin: 0;
    position: relative;
    display: block;
    height: 380px;
    width: 100%;
}

.bp-friend-swiper-slider li {
    display: block;
    width: 100% !important;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    top: 0;
    z-index: 99;
    left: 0;
    overflow: hidden;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 24px;
    border-radius: 20px;
    color: #000;
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* Like & dislike badge images */

.bp-friend-swiper-slider .like,
.bp-friend-swiper-slider .dislike {
    background: url("../images/liked.png") no-repeat scroll 0 0;
    opacity: 1 !important;
    height: 35px;
    width: 35px;
    background-color: #fff !important;
    border-radius: 200px;
    padding: 8px;
    background-position: center !important;
    box-shadow: 0 0 10px rgba(2, 0, 36, 0.2);
}

.bp-friend-swiper-slider .dislike {
    right: 45px;
    cursor: pointer;
    left: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: url("../images/nope.png") no-repeat scroll 0 0;
}

.bp-friend-swiper-slider .dislike:hover,
.bp-friend-swiper-slider .dislike.dislike-active {
    background-color: #FF0000 !important;
    background-image: url("../images/close.png");
}

.bp-friend-swiper-slider .like {
    background-color: #FF0000 !important;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.bp-friend-swiper-slider .like:hover,
.bp-friend-swiper-slider .like.like-active {
    background-color: #11c52a !important;
}


/* Image container */

.bp-friend-swiper-slider .list-wrap {
    /*height: 100%;*/
    width: 100%;
    position: relative;
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-transform-style: preserve-3d;
}


/* Action - buttons */

.bffs_swiper_layout_wrapper .actions {
    text-align: center;
    width: 304px;
    margin: 0 auto;
    overflow: hidden;
}

.bffs_swiper_layout_wrapper .actions div {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}

.bffs_swiper_layout_wrapper .actions a i {
    display: inline-block;
    width: 40px;
    height: 80px;
}

.bffs_swiper_layout_wrapper .actions a.dislike i {
    background: url("../images/dislike_button.png") no-repeat scroll center center;
}

.bffs_swiper_layout_wrapper .actions a.like i {
    background: url("../images/like_button.png") no-repeat scroll center center;
}

.bffs_swiper_layout_wrapper .actions a {
    float: left;
    display: block;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
    color: #a7a7a7;
    margin: 36px;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    line-height: 144px;
    border-radius: 50%;
    outline: none;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.bffs_swiper_layout_wrapper .actions a:hover {
    text-decoration: none;
    color: #555;
    background: #f5f5f5;
}


/* jTinder status text */

#status {
    text-align: center;
    font-size: 18px;
    font-family: arial;
    margin-top: 30px;
    font-weight: bold;
}

.bffs_user_layout_one .default {
    font-size: 30px;
    padding: 120px;
}

.bp-friend-swiper-slider .list-wrap img {
    width: 100%;
    height: 100%;
}


/* BFFS Swiper One */

.bffs_user_layout_one .item-avatar {
    margin: 0 !important;
    padding: 0 !important;
}

.bffs_user_layout_one .bffs_user_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bp-friend-swiper-slider .bffs_user_layout_one .like .generic-button {
    height: auto;
    line-height: 18px;
}

.widget_bp_friend_suggestion_slider_widget .bffs_user_layout_one .like a {
    border: none !important;
    background: transparent !important;
    width: 30px !important;
    min-height: 30px !important;
    position: absolute;
    height: 30px !important;
    font-size: 0 !important;
    margin: -5px;
}

.widget_bp_friend_suggestion_slider_widget .bffs_user_layout_one .like a:hover {
    background-color: transparent !important;
    border: none !important;
}

.bp-friend-swiper-slider .bffs_user_layout_one .like a::before {
    display: none !important;
}

.bffs_user_layout_one .bffs_swipe_layout_bottom_meta {
    position: absolute;
    bottom: 0;
    text-align: left;
    width: 100%;
    background: rgb(2, 0, 36);
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 0.8715861344537815) 0%, rgba(0, 212, 255, 0) 100%);
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.8715861344537815) 0%, rgba(0, 212, 255, 0) 100%);
    padding: 15px;
}

.bffs_user_layout_one .bffs_user_layout_button_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: rgba(2, 88, 255, 0.15);
    padding: 5px;
    margin-top: 10px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 100px;
}

.bffs_item-title {
    line-height: 1;
}

.bffs_item-title a {
    color: #fff !important;
    display: block;
    font-size: 22px;
    line-height: 1 !important;
    margin-bottom: 5px;
}

.bffs_user_online,
.bffs_user_offline {
    font-size: 12px;
    color: #fff;
    gap: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.bffs_msg_icon,
.bffs_user_icon {
    text-align: center;
    width: 30%;
}

.bffs_user_online span.user_status,
.bffs_user_offline span.user_status {
    width: 7px;
    height: 7px;
    background-color: #01CB21;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.bffs_user_offline span.user_status {
    background: red;
}

.bffs_swiper_layout_two .bffs_user_online {
    color: #01CB21;
}

.bffs_swiper_layout_two .bffs_user_offline {
    color: #f40202 !important;
}

.bffs_actvity_icon a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    color: #fff !important;
    line-height: 1 !important;
    padding: 10px 15px;
    border-radius: 100px;
    background-color: #0258FF;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.bffs_actvity_icon svg {
    width: 20px;
}

.bffs_swiper_layout_wrapper li.item-entry.bp-single-member {
    padding: 0;
}

.buddypress.widget.widget_bp_friend_suggestion_slider_widget .bp-friend-swiper-slider .item-avatar img.avatar {
    max-width: 100%;
    height: 380px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.bffs_swiper_layout_wrapper .default.demo-empty-slide {
    height: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #f6f6f6;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.bffs_swiper_layout_wrapper .default.demo-empty-slide img {
    width: 80%;
    margin: 0 auto;
}

.bffs_swiper_layout_wrapper .default.demo-empty-slide span {
    font-size: 16px;
}


/* BFFS Swiper Two */

.bffs_swiper_layout_two.bp-friend-swiper-slider ul#members-list {
    height: 475px;
}

.bffs_swiper_layout_wrapper.bffs_swiper_layout_two {
    display: block;
}

.bffs_swiper_layout_wrapper.bffs_swiper_layout_two>ul {
    height: 472px;
}

.bffs_swiper_layout_wrapper.bffs_swiper_layout_two .bffs_item-title a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}

.bffs_swiper_layout_two .default.demo-empty-slide {
    height: 472px;
}

.buddypress.widget.widget_bp_friend_suggestion_slider_widget .bffs_swiper_layout_two.bp-friend-swiper-slider .item-avatar img.avatar {
    height: 350px !important;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}

.bffs_swiper_layout_two .bffs_swipe_layout_bottom_meta {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    width: 100%;
    background: #fff !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 15px 15px 15px;
    border: 1px solid #eee;
    border-radius: 0 0 20px 20px;
}

.bffs_swiper_layout_two .bffs_swipe_layout_bottom {
    z-index: 9;
    margin-top: -20px;
}

.bffs_swiper_layout_two .bffs_item-title a {
    margin-bottom: 8px;
}

.bffs_swiper_layout_two .bffs_item-title a {
    color: #111 !important;
}

.bffs_swiper_layout_two .bffs_user_layout_one .bffs_user_layout_button_list {
    background-color: transparent;
    padding: 0;
}

/* ================================
BuddyBoss Theme Support
================================ */
.buddypress.widget.widget_bp_friend_suggestion_slider_widget .bp-friend-swiper-slider #members-list.members-list .item-avatar img.avatar {
    max-width: 100%;
    border-radius: 20px;
}

.buddypress.widget.widget_bp_friend_suggestion_slider_widget .bp-friend-swiper-slider #members-list.members-list .list-wrap {
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.buddypress.widget.widget_bp_friend_suggestion_slider_widget .bp-friend-swiper-slider #members-list.members-list {
    overflow: inherit;
}

.buddypress.widget.widget_bp_friend_suggestion_slider_widget .bffs_swiper_layout_two.bp-friend-swiper-slider #members-list.members-list .item-avatar img.avatar {
    border-radius: 20px 20px 0 0;
}

.buddypress.widget.widget_bp_friend_suggestion_slider_widget .bffs_swiper_layout_two.bp-friend-swiper-slider .default.demo-empty-slide {
    height: 460px;
}