@font-face {
  font-family: 'bpffs-icons';
  src: url('../font/bpffs-icons.eot?85934873');
  src: url('../font/bpffs-icons.eot?85934873#iefix') format('embedded-opentype'),
       url('../font/bpffs-icons.woff2?85934873') format('woff2'),
       url('../font/bpffs-icons.woff?85934873') format('woff'),
       url('../font/bpffs-icons.ttf?85934873') format('truetype'),
       url('../font/bpffs-icons.svg?85934873#bpffs-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bpffs-icons';
    src: url('../font/bpffs-icons.svg?85934873#bpffs-icons') format('svg');
  }
}
*/
[class^="bpffs-"]:before, [class*=" bpffs-"]:before {
  font-family: "bpffs-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.bpffs-user:before { content: '\f007'; } /* '' */
.bpffs-users:before { content: '\f0c0'; } /* '' */
.bpffs-user-plus:before { content: '\f234'; } /* '' */
.bpffs-user-times:before { content: '\f235'; } /* '' */
.bpffs-user-check:before { content: '\f4fc'; } /* '' */
.bpffs-user-clock:before { content: '\f4fd'; } /* '' */
.bpffs-user-cog:before { content: '\f4fe'; } /* '' */
.bpffs-user-edit:before { content: '\f4ff'; } /* '' */
.bpffs-user-friends:before { content: '\f500'; } /* '' */
.bpffs-user-lock:before { content: '\f502'; } /* '' */
.bpffs-user-minus:before { content: '\f503'; } /* '' */
