/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Theme Specific Fixes
    # BuddyBoss
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
.widget_bp_friend_follow_suggestion_widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget_bp_friend_follow_suggestion_widget > ul > li {
    margin-bottom: 1em;
}

.widget_bp_friend_follow_suggestion_widget > ul > li .list-wrap {
    width: 100%;
}

.buddypress.widget.widget_bp_friend_follow_suggestion_widget ul.item-list li .item-avatar,
.widget_bp_friend_follow_suggestion_widget > ul > li .item-avatar {
    float: left;
}

.widget_bp_friend_follow_suggestion_widget > ul > li .list-wrap .item {
    margin-left: 70px;
}

.widget_bp_friend_follow_suggestion_widget .item-meta {
    font-size: 12px;
    margin-top: 5px !important;
}

.widget_bp_friend_follow_suggestion_widget .item-meta ul li {
    margin-bottom: 0 !important;
}

.widget_bp_friend_follow_suggestion_widget .generic-button a,
.widget_bp_friend_follow_suggestion_widget .generic-button button {
    background: #fff;
    border-color: #ccc;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 0;
    color: #555;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    outline: 0;
    padding: .3em .5em;
    text-align: center;
    text-decoration: none;
    width: auto;
    min-height: 100%;
    line-height: 1;
    display: inline-block;
}

.widget_bp_friend_follow_suggestion_widget .generic-button a:hover,
.widget_bp_friend_follow_suggestion_widget .generic-button button:hover {
    background: #ededed;
    color: #555;
}

/*--------------------------------------------------------------
## BuddyBoss
--------------------------------------------------------------*/
.widget_bp_friend_follow_suggestion_widget .bp-tooltip:before,
.widget_bp_friend_follow_suggestion_widget .bp-tooltip:after {
    display: none !important;
}