/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Theme Specific Fixes
    # BuddyBoss
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

.widget_bp_friend_follow_suggestion_widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget_bp_friend_follow_suggestion_widget>ul>li {
    margin-bottom: 1em;
}

.bp-nouveau .widget_bp_friend_follow_suggestion_widget>ul>li .list-wrap,
.widget_bp_friend_follow_suggestion_widget>ul>li .list-wrap {
    width: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.buddypress.widget.widget_bp_friend_follow_suggestion_widget ul.item-list li .item-avatar,
.widget_bp_friend_follow_suggestion_widget>ul>li .item-avatar {
    float: left;
    margin-right: 10px;
}

.buddypress.widget.widget_bp_friend_follow_suggestion_widget ul.item-list li .item-avatar img,
.widget_bp_friend_follow_suggestion_widget>ul>li .item-avatar img {
    max-width: 50px;
}

.bp-nouveau .widget-area .widget.buddypress.widget_bp_friend_follow_suggestion_widget #members-list li .item,
.widget_bp_friend_follow_suggestion_widget>ul>li .list-wrap .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
}

.widget_bp_friend_follow_suggestion_widget .item-meta {
    font-size: 12px;
}

.widget_bp_friend_follow_suggestion_widget .item-meta ul li {
    margin-bottom: 0 !important;
}

.widget_bp_friend_follow_suggestion_widget .generic-button a,
.widget_bp_friend_follow_suggestion_widget .generic-button button {
    background: #fff !important;
    border-color: #ccc !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 0 !important;
    color: #555 !important;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400 !important;
    outline: 0;
    padding: .3em .5em !important;
    text-align: center !important;
    text-decoration: none;
    width: auto !important;
    min-height: 100% !important;
    line-height: 1 !important;
    display: inline-block !important;
    font-size: 0 !important;
    border-radius: 4px !important;
}

.widget_bp_friend_follow_suggestion_widget .generic-button a:before,
.widget_bp_friend_follow_suggestion_widget .generic-button button:before {
    content: "\f234";
    font-family: "bpffs-icons" !important;
    font-size: 16px;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.widget_bp_friend_follow_suggestion_widget .generic-button.pending_friend a:before,
.widget_bp_friend_follow_suggestion_widget .generic-button.pending_friend button:before {
    content: "\f235";
}

.widget_bp_friend_follow_suggestion_widget .generic-button.follow-button a:before,
.widget_bp_friend_follow_suggestion_widget .generic-button.follow-button button:before {
    content: "\f4fc";
}

.widget_bp_friend_follow_suggestion_widget .generic-button.follow-button.following a:before,
.widget_bp_friend_follow_suggestion_widget .generic-button.follow-button.following button:before {
    content: "\f235";
}

.widget_bp_friend_follow_suggestion_widget .generic-button a:hover,
.widget_bp_friend_follow_suggestion_widget .generic-button button:hover,
#buddypress .widget_bp_friend_follow_suggestion_widget div.generic-button a:hover {
    background: #ededed !important;
    color: #555 !important;
    border-color: #ccc !important;
    border-style: solid !important;
    border-width: 1px !important;
}


/* tooltip */

.widget_bp_friend_follow_suggestion_widget .item-meta .friendship-button {
    position: relative;
}

.widget_bp_friend_follow_suggestion_widget .item-meta .friendship-button .friendship-button:after {
    white-space: nowrap;
    position: absolute;
    z-index: 99999;
    top: 6px;
    left: -85px;
    opacity: 0;
    visibility: hidden;
    transform: translate(10px, 0);
    transition: all 0.3s ease-in-out 0s;
    padding: 0 15px;
    border-radius: 100px;
    background-color: #3e3f5e;
    color: #fff;
    font-size: 13px;
    line-height: 25px;
}

.widget_bp_friend_follow_suggestion_widget .item-meta .friendship-button .friendship-button.not_friends:after {
    content: "Connect" !important;
}

.widget_bp_friend_follow_suggestion_widget .item-meta .friendship-button:hover .friendship-button:after {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translate(0px, 0) !important;
}

.widget_bp_friend_follow_suggestion_widget .generic-button .friendship-button.pending_friend.requested:after {
    content: "Cancel Request" !important;
    left: -126px !important;
}


/*--------------------------------------------------------------
## Layout 2
--------------------------------------------------------------*/

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout {
    overflow: hidden;
    position: relative;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .bffs-slide .list-wrap {
    border-radius: 7px;
    overflow: hidden !important;
    border: 1px solid #ddd;
    padding: 0 !important;
    margin: 0 !important;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .item {
    padding: 15px !important;
    margin: 0 !important;
    text-align: center;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .item-meta .generic-button a,
.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .item-meta .generic-button button {
    position: relative;
    font-size: 15px !important;
    font-weight: 500 !important;
    padding: 12px 22px !important;
    line-height: 1 !important;
    border: none !important;
    border-radius: 6px !important;
    color: #fff !important;
    background: #0964c7 !important;
    display: flex !important;
    margin: 12px 0 0;
    width: 100%;
    transition: all 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* fallback */
    max-height: 32px;
    /* fallback */
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .item-meta .generic-button a:hover,
.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .item-meta .generic-button button:hover {
    background: #074490 !important;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .item-meta .friendship-button .friendship-button:after {
    display: none !important;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .generic-button a:before,
.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .generic-button button:before {
    height: auto;
    width: auto;
    margin-right: 8px;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .item-avatar img.avatar {
    width: 100% !important;
    height: 230px !important;
    object-fit: cover;
    border-radius: 0 !important;
    max-width: 100% !important;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .item-avatar {
    margin-right: 0 !important;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .item-meta .generic-button {
    position: relative;
    display: flex;
    justify-content: center;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .bffs-button-next:after,
.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .bffs-button-prev:after {
    font-size: 18px;
    color: #000;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .bffs-button-prev,
.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .bffs-button-next {
    background: rgba(255, 255, 255, 0.6);
    padding: 5px;
    height: 35px;
    left: -20px;
    opacity: 0;
    visibility: hidden;
    transform: translate(10px, 0);
    transition: all 0.3s ease-in-out 0s;
    border-radius: 5px;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout .bffs-button-next {
    left: auto;
    right: -20px;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout:hover .bffs-button-prev,
.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout:hover .bffs-button-next {
    left: -2px;
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout:hover .bffs-button-next {
    left: auto;
    right: -2px;
}

.widget_bp_friend_follow_suggestion_widget .bffs_horizontal_layout #members-list li {
    margin: 0 !important
}


/*--------------------------------------------------------------
## Swiper Layout One
--------------------------------------------------------------*/

.widget_bp_friend_follow_swiper_widget .bffs-swipe-slides {
    overflow: hidden;
    border-radius: 30px;
    background: #fff;
    position: relative;
    margin: 0px;
    padding: 0px;
    /* box-shadow: 0px 8px 25px -5px rgb(168 178 199 / 35%); */
}

.widget_bp_friend_follow_swiper_widget .bffs_swiper .item-avatar {
    padding-bottom: 130px;
}

.widget_bp_friend_follow_swiper_widget .bffs_swiper .item-avatar img {
    max-width: 100%;
    height: auto !important;
    width: 100% !important;
    min-height: 350px;
    object-fit: cover;
    border-radius: 0px !important;
}

.widget_bp_friend_follow_swiper_widget .bffs_swiper .item-title a {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_online {
    font-size: 12px;
    color: #A5A5A5;
    line-height: 15px;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_online span {
    height: 12px;
    width: 12px;
    background: #01CB21;
    border: 1px #AAECB5 solid;
    border-radius: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.widget_bp_friend_follow_swiper_widget .bffs_swiper .bffs_swipe_layout_bottom {
    position: absolute;
    bottom: 0px;
    background: #fff;
    width: calc(100% - 42px);
    padding: 20px;
    border: 1px rgb(164 179 208 / 27%) solid;
    border-top: 0;
    border-radius: 0 0 30px 30px;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_button_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 0 !important;
    padding: 0px;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_button_list a {
    display: flex;
    align-items: center;
    padding: 7px 15px;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_button_list .bffs_actvity_icon a {
    background: #EEF4FF;
    border-radius: 100px;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_button_list .bffs_actvity_icon a {
    background: #0258FF;
    color: #fff;
    font-size: 15px;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_button_list li svg {
    height: 24px;
    width: 24px;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_button_list li.bffs_actvity_icon svg {
    margin-right: 5px;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_button_list li a:hover svg path {
    fill: #0258FF;
    transition: all 0.3s;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_button_list li.bffs_actvity_icon a:hover svg path {
    fill: #FFF;
    transition: all 0.3s;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_button_list .bffs_actvity_icon span {
    margin-left: 5px;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_buttons {
    position: absolute;
    top: -20px;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget_bp_friend_follow_swiper_widget .bffs_swiper .bffs_user_buttons .friendship-button a {
    background: #FF0000 !important;
    border: none !important;
    border-radius: 100px !important;
    height: 40px;
    width: 40px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    font-size: 0;
}

.widget_bp_friend_follow_swiper_widget .bffs_swiper .bffs_user_buttons .friendship-button {
    height: 40px;
    width: 40px;
    font-size: 0px;
    padding: 0px;
    background: #FF0000;
    box-shadow: 0 0 15px rgb(30 27 27 / 16%);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.widget_bp_friend_follow_swiper_widget .bffs_swiper .bffs_user_buttons .friendship-button:before {
    content: '';
    height: 24px;
    width: 24px;
    background: url('../images/user_cricle_icon.svg') no-repeat center center;
}

.widget_bp_friend_follow_swiper_widget .bffs_swiper .bffs_user_buttons .swipe-cross-button {
    height: 40px;
    width: 40px;
    background: #fff;
    box-shadow: 0 0 15px rgb(30 27 27 / 16%);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.widget_bp_friend_follow_swiper_widget .bffs_swiper .bffs_user_buttons .swipe-cross-button a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget_bp_friend_follow_swiper_widget .bffs_swiper .bffs_user_buttons .friendship-button a:before {
    content: '';
    height: 24px;
    width: 24px;
    background: url('../images/user_cricle_icon.svg') no-repeat center center;
}

.widget_bp_friend_follow_swiper_widget .bffs_swiper .bffs_user_buttons .friendship-button:hover,
.widget_bp_friend_follow_swiper_widget .bffs_swiper .bffs_user_buttons .friendship-button a:hover,
.widget_bp_friend_follow_swiper_widget .bffs_swiper .bffs_user_buttons .swipe-cross-button:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px -10px rgb(39 50 59 / 70%);
    -moz-box-shadow: 0px 10px 20px -10px rgb(39 50 59 / 70%);
    -webkit-box-shadow: 0px 10px 20px -10px rgb(39 50 59 / 70%);
}


/*--------------------------------------------------------------
## Swiper Layout Two
--------------------------------------------------------------*/

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_two .bffs_swipe_layout_bottom {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.90) 100%);
    border: none;
    border-radius: 0;
    width: calc(100% - 40px);
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_two .item-avatar img {
    max-width: 100%;
    height: auto;
    width: 100%;
    min-height: 450px;
    object-fit: cover;
    border-radius: 0px !important;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_two .item-avatar {
    padding-bottom: 0px;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_two .item-title a {
    color: #fff;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_two .bffs_user_online {
    color: #fff;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_two .bffs_user_layout_button_list {
    padding: 5px;
    background: rgb(2 88 255 / 20%);
    border-radius: 100px;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_two .bffs_user_layout_button_list svg path {
    fill: #fff;
}

.widget_bp_friend_follow_swiper_widget .bffs_user_layout_two .bffs_user_layout_button_list li a:hover svg path {
    fill: #e5eeff;
    transition: all 0.3s;
}


/*--------------------------------------------------------------
## BuddyBoss
--------------------------------------------------------------*/

.widget_bp_friend_follow_suggestion_widget .bp-tooltip:before,
.widget_bp_friend_follow_suggestion_widget .bp-tooltip:after {
    display: none !important;
}

.bb-grid .widget_bp_friend_follow_suggestion_widget .generic-button a i,
.bb-grid .widget_bp_friend_follow_suggestion_widget .generic-button button i {
    padding: .3em .5em !important;
}

.theme-buddyx .widget_bp_friend_follow_suggestion_widget #members-list li .item,
.theme-buddyx-pro .widget_bp_friend_follow_suggestion_widget #members-list li .item {
    padding-left: 8px !important;
}


/*--------------------------------------------------------------
Youzify
--------------------------------------------------------------*/

.youzify-sidebar .widget_bp_friend_follow_suggestion_widget h3 {
    margin: 0;
    color: #858f94;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    padding: 15px 35px;
    letter-spacing: initial;
    background: #fff;
    position: relative;
    margin-bottom: 25px !important;
    border-radius: 4px 4px 0 0;
}

.youzify-sidebar .widget_bp_friend_follow_suggestion_widget h3:before {
    content: "\f129";
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    font-family: "Font Awesome 5 Free";
    font-size: 13px;
    color: #8b8b8b;
    font-weight: 700;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    background-color: #f2f2f2;
}

.youzify-sidebar .widget_bp_friend_follow_suggestion_widget .item-avatar {
    margin-right: 10px;
}

.youzify-sidebar .widget_bp_friend_follow_suggestion_widget .generic-button a:before {
    margin-right: 0;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}