/* Admin Tab Icons and UI */
.nav-tab-wrapper ul li #bffs-general-tab:before {
    content: "\f111";
}

.bffs-field-header {
    color: #000;
    border-bottom: 1px solid rgba(200, 197, 218, 0.50);
    margin-top: -15px;
}

#bffs-field-content .search_field {
    padding: 15px 0 0;
}

#bffs-field-content span.bffs-col1 {
    color: #2a32ef;
    font-size: 20px;
}

.bffs-field-header span {
    margin: 0 !important;
    padding-bottom: 15px;
}

#bffs-field-content span {
    margin-left: 10px;
}

p.wbcom-welcome-description .download-link-wb {
    color: #1f35cc;
    text-decoration: none;
    font-weight: 500;
}

p.description.description-title {
    color: #333;
    font-size: 16px;
    padding: 0;
    display: block;
    margin: 0;
    font-style: normal;
}

.bffs-field-header span,
.add-bffs-match-field,
.delete_bffs_field {
    font-size: 13px;
    line-height: 1.5;
    margin: 1em 0;
}

#add-bffs-match-field {
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    background: #38b570;
    padding: 12px 30px;
    margin-bottom: 0;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}

.bffs-profile-match-fields select {
    width: 100%;
    max-width: 100%;
    display: block;
}

.bffs-profile-match-fields input[type="text"] {
    width: 100%;
}

.bffs-field-content a {
    text-decoration: none;
}

.bffs-col1 {
    display: inline-block;
    width: 2%;
    cursor: move;
}

.bffs-col2 {
    display: inline-block;
    width: 20%;
}

.bffs-col3 {
    display: inline-block;
    width: 20%;
}

.bffs-col4 {
    display: inline-block;
    width: 20%;
}

.bffs-col5 {
    display: inline-block;
    width: 16%;
}

.bffs-field-content input.bffs-check {
    width: 35px;
    height: 30px;
    border-radius: 5px;
    border-color: #ccc;
}

.bffs-field-content input.bffs-check[type=checkbox]:checked::before {
    margin: 0;
    right: 0;
}

.delete_bffs_field {
    display: inline-block;
    color: #fff !important;
    margin: 0px 0;
    background: #FF2E00;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 15px;
    line-height: 1.4;
}

.delete_bffs_field:hover {
    color: #ef3e46;
}

.wbcom-support-info-wrap {
    gap: 10px;
}

.support-info-wrap-inner {
    width: 50%;
}

.support-video {
    width: 50%;
}

.support-video .fluid-width-video-wrapper {
    padding-top: 75% !important;
}


.wbcom-support-info-wrap .wbcom-support-info-widgets {
    max-width: 100%;
    width: auto;
}

.wb-section-top {
    display: flex;
    margin-bottom: 20px;
}

.wbcom-support-info-wrap .wbcom-support-info-widgets {
    margin: 0 10px;
    width: 50%;
}

.wbcom-support-info-widgets.feedback-wrapp {
    width: auto;
}

.wbcom-welcome-support-info .wbcom-support-inner p {
    height: auto;
}

.wbcom-support-info-widgets.feedback-wrapp h3 {
    display: flex;
    margin: 0 !important;
}

.feedback-wrapp .dashicons {
    margin: 0 !important;
}



@media only screen and (max-width: 679px) {

    .bffs-field-header {
        display: none;
    }

    .bffs-col2,
    .bffs-col3,
    .bffs-col4,
    .bffs-col5 {
        width: 100%;
        margin: 5px 0 !important;
    }

    #bffs-field-content .search_field {
        padding: 0 0 18px;
        border-bottom: 1px solid #eee;
        margin-bottom: 12px;
    }

    .support-video iframe {
        height: auto;
    }

}

.wbcom-wrap .update-nag,
.wbcom-wrap .updated,
.wbcom-wrap .error,
.wbcom-wrap .notice-error,
.wbcom-wrap .is-dismissible,
.wbcom-wrap .notice {
    display: none !important;
}


@media only screen and (min-width: 280px) and (max-width: 1172px) {

    .wb-section-top {
        flex-wrap: wrap;
        gap: 15px;
    }

    .wbcom-support-info-wrap .wbcom-support-info-widgets,
    .support-info-wrap-inner,
    .support-video {
        width: auto;
    }

    .support-video {
        padding: 20px;
    }
}

@media only screen and (min-width: 1175px) and (max-width: 1552px) {

    .wbcom-support-info-wrap {
        flex-wrap: wrap;
    }

    .support-info-wrap-inner {
        width: 100%;
    }

    .support-video {
        width: 100%;
        padding: 15px;
    }

}
/*# sourceMappingURL=buddypress-friend-follow-suggestion-admin.css.map */