/* Admin Tab Icons and UI */
.nav-tab-wrapper ul li #bffs-general-tab:before {
    content: "\f111";
}
.bffs-field-header {
    margin: 0 -30px;
    color: #000;
    border-bottom: 1px solid #ddd;
    margin-top: -25px;
}
#bffs-field-content .search_field {
    padding: 15px 0 0;
}
#bffs-field-content span.bffs-col1 {
    color: #2a32ef;
    font-size: 20px;
}
.bffs-field-header span {
    margin: 0 !important;
    padding-bottom:15px;
}
#bffs-field-content span {
    margin-right: 10px;
}


p.description.description-title {
    color: #333;
    font-size: 16px;
    padding: 0;
    display: block;
    margin: 0;
    font-style: normal;
}

.bffs-field-header span,
.add-bffs-match-field,
.delete_bffs_field {
    font-size: 13px;
    line-height: 1.5;
    margin: 1em 0;
}

#add-bffs-match-field {
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    background: #38b570;
    padding:12px 30px;
    margin-bottom: 0;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}

.bffs-profile-match-fields select {
    width: 100%;
    max-width: 100%;
    display: block;
}

.bffs-profile-match-fields input[type="text"] {
    width: 100%;
}

.bffs-field-content a {
    text-decoration: none;
}

.bffs-col1 {
    display: inline-block;
    width: 2%;
    cursor: move;
}

.bffs-col2 {
    display: inline-block;
    width: 20%;
}

.bffs-col3 {
    display: inline-block;
    width: 20%;
}

.bffs-col4 {
    display: inline-block;
    width: 20%;
}

.bffs-col5 {
    display: inline-block;
    width: 16%;
}

.bffs-field-content input.bffs-check {
    width: 35px;
    height: 30px;
    border-radius: 5px;
    border-color: #ccc;
}
.bffs-field-content input.bffs-check[type=checkbox]:checked::before {
    margin: 0;
    left: 0;
}

.delete_bffs_field {
    display: inline-block;
    color: #fff !important;
    margin: 0px 0;
    background: #FF2E00;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 15px;
    line-height: 1.4;
}

.delete_bffs_field:hover {
    color: #ef3e46;
}


@media only screen and (max-width: 679px) {

    .bffs-field-header{
        display: none;
    }
    .bffs-col2,
    .bffs-col3,
    .bffs-col4,
    .bffs-col5 {
        width: 100%;
        margin: 5px 0 !important;
    }
    #bffs-field-content .search_field {
        padding: 0 0 18px;
        border-bottom: 1px solid #eee;
        margin-bottom: 12px;
    }

}
.wb-plugins_page_wbcom-license-page .update-nag,
.wb-plugins_page_wbcom-license-page .updated,
.wb-plugins_page_wbcom-license-page .error,
.wb-plugins_page_wbcom-license-page .notice-error,
.wb-plugins_page_wbcom-license-page .is-dismissible {
    display: none !important;
}
.wb-plugins_page_bffs-settings .update-nag,
.wb-plugins_page_bffs-settings .updated,
.wb-plugins_page_bffs-settings .error,
.wb-plugins_page_bffs-settings .notice-error,
.wb-plugins_page_bffs-settings .is-dismissible {
    display: none !important;
}
.toplevel_page_wbcomplugins .update-nag,
.toplevel_page_wbcomplugins .updated,
.toplevel_page_wbcomplugins .error,
.toplevel_page_wbcomplugins .notice-error,
.toplevel_page_wbcomplugins .is-dismissible {
    display: none !important;
}
.wb-plugins_page_wbcom-support-page .update-nag,
.wb-plugins_page_wbcom-support-page .updated,
.wb-plugins_page_wbcom-support-page .error,
.wb-plugins_page_wbcom-support-page .notice-error,
.wb-plugins_page_wbcom-support-page .is-dismissible,
.wb-plugins_page_wbcom-plugins-page .update-nag,
.wb-plugins_page_wbcom-plugins-page .updated,
.wb-plugins_page_wbcom-plugins-page .error,
.wb-plugins_page_wbcom-plugins-page .notice-error,
.wb-plugins_page_wbcom-plugins-page .is-dismissible {
    display: none !important;
}